@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:black;
    font-size: 1.2vw;
    margin: 0 15vw;
}
a{
    color:black;
}
a:hover{
    color: red;
    /* cursor: pointer; */
 }
header{
    display: flex;
    align-items: center;
    font-size: 1.2vw;
}
header ul{
    align-self: flex-start;
}
header .logo{
    width:8vw;
}
header .nav_left{
    align-self: flex-start;
}
header .nav_left ul{
    display: flex;
    justify-content: flex-start;
}
header ul li{
    padding: 0 5% ;
    width: 5.3vw; 
}
header .nav_li_border{
    border-left: 1px solid black ;
}
header .nav_right{
    align-self: flex-end;
    margin-left: auto;
}
header .nav_right ul{
    display: flex;
    justify-content: flex-end;
}
ul{
    list-style-type: none;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
}
main h1,h2,h3,h4,label{
    font-weight: 500;
}
main h1{
    align-self: flex-start;
    font-size: 4vw;
    margin:2% 0;
}
main h2{
    font-size: 2.5vw;
    margin:1% 0 0 0;
}
main h3{
    font-size: 2vw;
}
main h4{
    font-size: 1.5vw;
    margin: 0;
}
main form{
    display:flex;
    flex-direction: column;
    align-self: center;
    padding:2% 0 5% 0;
    font-size: 1.2vw;
}
main form input{
    margin-bottom: 5%;
    width:40vw;
    height: 2vw;
    border:2px solid black;
    border-radius: 2px;
}
main form .sign_in_button,.sign_up_button{
    width:40.5vw;
    height: 2vw;
    margin-top: 5%;
    margin-bottom: 5%;
    border:2px solid black;
    border-radius: 2px;
    box-shadow: 5px 5px 5px black;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
}
main form .accept_term{
    display: flex;
}
main form .accept_term input{
    width:auto;
    height:auto;
    margin-right: 2%;
}
main form #label_checkbox{
    text-decoration: underline;
}
/* about-as */
main .team,.workplace{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 2% 0 5% 0;
}
main img{
    width: 20vw;    
}
main p{
    width:45vw;
    font-size: 1.2vw;
    font-weight: 300;
    margin-top: 0;
}
/* jobs */
main .form_jobs{
    display: flex;
    flex-flow: row wrap;
    align-self: auto;
    justify-content: space-between;
    margin:1% 0 2% 0;
    padding: 0;
}
main .form_jobs div{
    display: flex;
    flex-direction: column;
}
main .form_jobs label, select, #publication_date{
    width: 21vw;
    font-size: 1.1vw;
}
main .form_jobs label, #publication_date{
    height: 1.8vw;
}
main .form_jobs select{
    height: 2vw;
    border: 2px solid black;
}
main .job_p{
    font-size: 1vw;
    width:auto;
    margin:1% 0 3% 0;
}
/* pricing */
.pricing_plans div{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
.pricing_plans div article{
    display: flex;
    flex-direction: column; 
    width:27%;
    padding: 2% 2% 1% 2%;
    border: 2px solid black;
}
.pricing_plans div article p{
    font-size: 4vw;
    font-weight: 500;
    margin:0;
}
.pricing_plans ul{
    margin-top: 1%;
    padding-left: 2%;
    width: 43%;
    border: 2px solid black;
}
.pricing_plans ul li{
    margin: 5%;
    text-align: left;
}
.pricing_plans button{
    margin-top: auto;
    align-self: center;
    border:2px solid black;
    box-shadow: 2px 2px 2px black;
}

.pricing_feature{
    margin-top: 2%;
}
.pricing_feature table{
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}
.pricing_feature thead tr {
    background-color:rgb(207, 204, 204);
  }
.pricing_feature table td, th{
    max-width: 10vw;
    padding-right: 1vw;
    border-bottom: 1px solid #000;
    text-align: center;
}
.pricing_feature  tbody tr:nth-of-type(2n + 1) {
    background-color: rgb(240, 239, 239);
}
.pricing_feature thead th:nth-of-type(4n + 1),tbody td:nth-of-type(4n + 1) {
    padding-left: 1%;
    width:80%;
    text-align: left;
}
.pricing_feature table input{
    margin: 1vw 0;
    padding: 0;
    width:5vw;
    height: 1.2vw;
}
  
hr{
    height: 2px;
    border:none;
    background-color:red;
}
footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
footer nav{
    width:13%;
}
footer nav ul{
    display: flex;
    flex-flow: column nowrap;
    padding:0;
    text-align: left;
}
footer nav ul li{
    margin:9% 0; 
}
footer p{
    align-self:flex-end;
    width:100%;
    text-align: center;
}
@media (max-width:800px) {
    body{
        margin: 5vw;
        font-size: 2vw;
    }
    header{
        font-size: 2vw;
    }
    header ul li{
        width:10vw;
    }
    main form{
        font-size: 2vw;
    }
    main form input{
        width:78vw;
        height:4vw;
    }
    main form .sign_in_button, .sign_up_button{
        width:79vw;
        height:4vw;
        font-size: 2vw;
    }
    main .workplace{
        flex-direction: column-reverse;
    }
    main img{
        width: 85vw;    
    }
    main p{
        width:85vw;
        font-size: 2vw;
        margin-top: 5%;
    }
    main .form_jobs label, select, #publication_date{
        font-size: 2vw;
    }
    main .form_jobs label, select{
        width: 85vw;
    }
    main .form_jobs label{
        height: 3vw;
    }
    main .form_jobs select{
        height: 4vw;
        margin-bottom: 2%;
    }
    main .form_jobs #publication_date{
        height: 3vw;
        width: 30vw;
    }
    main h1{
        font-size: 5vw;
    }
    main h2{
        font-size: 3.5vw;
    }
    main h3{
        font-size: 3vw;
    }
    main h4{
        font-size: 2.5vw;
    }
    main .job_p{
        font-size: 2vw;
    }
    .pricing_plans div{
        flex-wrap: wrap;
    }
    .pricing_plans div article{
        width:95%;
        margin-bottom: 1%;
    }
    .pricing_plans ul{
        width: 20%;
    }
    footer nav{
        width:16.5%;
    }
}